<div *ngIf="isLoading">
    <p>Chargement...</p>
</div>

<div *ngIf="errorMessage">
    <p>{{ errorMessage }}</p>
</div>

<div *ngIf="!isLoading && !errorMessage && pokemon.id !== '-1'">
    <h3>{{ pokemon.name }}</h3>

    <img [src]="pokemon.imgUrl" [alt]="pokemon.name" *ngIf="pokemon.imgUrl" />

    <p><strong>ID:</strong> #{{ pokemon.id }}</p>
    <p><strong>Nom:</strong> {{ pokemon.name }}</p>
    <p *ngIf="pokemon.height"><strong>Taille:</strong> {{ pokemon.height / 10 }} m</p>
    <p *ngIf="pokemon.weight"><strong>Poids:</strong> {{ pokemon.weight / 10 }} kg</p>

    <div *ngIf="pokemon.types && pokemon.types.length > 0">
        <strong>Types:</strong>
        <span *ngFor="let type of pokemon.types; let last = last">
            {{ type }}<span *ngIf="!last">, </span>
        </span>
    </div>

    <div *ngIf="pokemon.stats && pokemon.stats.length > 0">
        <h4>Statistiques</h4>
        <div *ngFor="let stat of pokemon.stats">
            <span>{{ stat.name }}: {{ stat.value }}</span>
        </div>
    </div>
</div>

<div *ngIf="!isLoading && !errorMessage && pokemonId === '-1'">
    <p>Sélectionnez un pokémon pour voir ses informations.</p>
</div>